doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon",type="image/png",sizes="32x32",href="images/favicon-32x32.png")
    link(rel="icon",type="image/png",sizes="16x16",href="images/favicon-16x16.png")
  body
    block content
